.checkMark {
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
    stroke: #666;
    stroke-width: 1.5;
    transition: all .5s ease-in-out;
}
.checkMark.checked {
    stroke-dashoffset: 0;
}

.__checkElementRoot__ {
    outline: none;
    cursor: pointer;
    display:flex;
}

.__checkboxIcon__ {
    padding-right: 5px;
    padding-top: 2px;
}  