{
    "presets": [["es2015", { "modules": false }], "es2016", "react", "env"],
    "plugins": ["transform-es2015-modules-commonjs", "transform-class-properties"],

    "env": {
        "test": {}
    }
}
